/*elements of body*/
body {
    margin-right: auto;
    margin-left: auto;
    width: 1510px;
    background-color: #FFFEFC;
    font-family:'Poppins', sans-serif;
}
.container {
    margin-top: -20px;
    margin-left: 65px;

    padding: 0px;
    text-align: left;
    background: #FFFEFC;
    color: #707070;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container h1 {
    font-size: 27px;
}
h2 {
    font-size: 35px;
    color:#707070;
    margin-left: 90px;
    font-weight: 600;
}
h5 {
    font-size: 21px;
    color:#707070;
    font-weight: 300;
    margin-left: 90px;
    text-align: left;
    margin-top: -20px;
    display: flex;
    flex: 20%;
}

/*navigations*/
nav {
    overflow: hidden;
    margin-right: 70px;
    margin-top: -20px;
}
nav a {
    font-weight: 300;
    font-size: 15px;
    float: right;
    display: block;
    color:#707070;
    text-align: right;
    margin-left: 30px;
    margin-right: 60px;
    padding: 0px 10px;
    text-decoration: none;
}
nav a:hover {
    color: #89BAC3
}
* {
    box-sizing: border-box;
}


@media screen and (max-width:700px) {
    .row {
        flex-direction: column;
    }
}
@media screen and (max-width:400px) {
    .navbar a {
        float:none;
        width: 100%;
    }
}

/*footer!!!*/
.footer {
    position: relative;
    bottom: 0;
    height: 250px;
    width: 100%;
    margin-top: 200px;
    padding: 50px;
    text-align: left;
    background: #F8F8F8;
}


.titlewords {
    margin-left: 19px;
}

.footer h7 {
    font-size: 17px;
    color:#707070;
    font-weight: 200;
    margin-left: 64px;
    text-align: left;
    display: flex;
    flex: 20%;
    margin-top: -80px;
}
.footer h3 {
    font-size: 70px;
    color:#707070;
    margin-left: 64px;
    font-weight: 900;
    margin-top: -40px;

}

#footer > p:first-child{
    float: right;
    text-align: right;
    width: 13.3%;
    font-weight: 200;
    color:#707070;
    margin-top: -85px;
    margin-right: 60px;

}

#footer >p:nth-child(2) {
    float: right;
    text-align: right; 
    width: 13.4%;
    font-weight: 200;
    color:#707070;
    margin-top: -85px;
}

#footer > p:last-child {
    float: right;
    text-align: right;
    width: 13.3%;
    font-weight: 200;
    color:#707070;
    margin-top: -85px;
}
.footer br {
    display: block;
    margin: 2px 0;
}
strong {
  font-weight:400;
}
.rectangle {
    height: 7px;
    width: 485px;
    background-color: #D6E2E8;
    padding: 4px;
margin-top: -35px;
margin-bottom: 40px;
margin-left: 90px;
}
.weirdrectangle {
    position: relative;
    left: -400px;
    size-adjust: 30px;
        width: auto;
        height: auto;
        max-width: 10px;
        max-height: 10px;
margin-left: 1720px;
margin-top: -190px;
}
/* oh gosh so much code under this*/

/*this is my zigzag and also my responsive*/
* {
    box-sizing: border-box;
  }
  
  .container1 {
    padding: 64px

  }
  .container2 {
    padding: 64px;
    margin-top: -90;
  }
  
  /* Clear floats */
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  .row2:after {
    content: "";
    display: table;
    clear: both
  }

 
  
  /* 2/3 column */
  .column-66 {
    float: left;
    width: 46%;
    padding: 20px;
    margin-left: -55px;
    margin-top: -70px;
    padding-bottom: 90px;
     
  }
  .column-67 {
    float: right;
    width: 46%;
    padding: 20px;
    margin-top:133px;

  }
  .column-68 {
    float: left;
    width: 46%;
    padding: 20px;
    margin-left: -55px;
    margin-top: 200px;
     
  }
  /* 1/3 column */
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
    flex: 34%; /*width of the column sidebar*/
  }
    .syringe {
        
        opacity: 0.9;
        border-top-right-radius: 600px;
        size-adjust: 30px;
        width: auto;
        height: auto;
        max-width: 912px;
        max-height: 420px;
        position: relative;
        right: -80px;
        margin-top: -25px;
  }
  .consult {
    opacity: 0.9;
        border-bottom-right-radius: 800px;
        border-bottom-left-radius: 800px;
        size-adjust: 30px;
        width: auto;
        height: auto;
        max-width: 912px;
        max-height: 380px;
        margin-top: 40px;
        margin-left: 42px;
        float: left;
        margin-top: 235px;

  }

  
  /* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33, .column-67, .column-68{
      width: 100%;
      text-align: center;
    }
  }

  a {
    font-weight: 300;
    font-size: 24px;
    display: block;
    color: #89BAC3;
    text-decoration: none;
  
    
  }
  a:hover {
    color: #707070;
  }

/*rectangles*/
  .rectangle {
    position: relative;
    height: 7px;
    width: 400px;
    background-color: #D6E2E8;
margin-top:180px;

margin-left: 120px;
}
.rectangle1 {
    position: relative;
    float: right;
    height: 7px;
    width: 220px;
    background-color: #D6E2E8;
margin-top: 40px;
margin-right: 305px;

}
.rectangle2 { 
position: relative;
float: left;
height: 7px;
width: 220px;
background-color: #D6E2E8;
margin-top: 40px;
margin-left: 60px;
}